@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>this dotnet application deployed through continuous integration and continuous delivery/continuous deployment version2.0</p>
</div>
